<!DOCTYPE html>
<html ng-app="myApp">
<head>
<meta charset="UTF-8" />
<title>AngularJS</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="class.js"></script>
<link rel="stylesheet" href="class.css" />
</head>
<body ng-controller="MyController">

<form>
<button ng-click="myStyle='red'">赤</button>
<button ng-click="myStyle='green'">緑</button>
<button ng-click="myStyle='blue'">青</button>
</form>

<div ng-class="myStyle">
<p>WINFSプロジェクトは、当初、ライター山田祥寛の...</p>
</div>

</body>
</html>
